<a href="https://colab.research.google.com/github/dprzek/esg/blob/main/esg_adash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# biblioteki i pakiety
import numpy as np
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Ładowanie syntetycznych danych z załączonej CSV-ki

In [2]:
data = pd.read_csv("esg_data.csv", sep = ';') 
data.head()

,entity_id,year,construction_year,capital_renovation_year,emission_CO2,emission_CH4,emission_SO2,power_thermal,power_electrical,no_boilers_fluidized,no_boilers_water,no_boilers_steam,fuel_coal_mio_t,fuel_gas_mio_m3,fuel_oil_mio_l,filter_coverage
0,1001,2017,1954,2008,232.672663,3.618711,1.097147,1400,386,2,2,1,1.0,500,400,0.89
1,1001,2018,1954,2008,230.728456,3.534175,0.944533,1400,386,2,2,1,1.0,500,400,0.89
2,1001,2019,1954,2008,234.708260,3.674400,1.021560,1400,386,2,2,1,1.0,500,400,0.89
3,1001,2020,1954,2008,257.536767,3.700645,0.987547,1400,386,2,2,1,1.0,500,400,0.89
4,1001,2021,1954,2008,228.861484,4.106222,1.206645,1500,400,2,1,2,1.0,500,440,0.93

**Pierwszy** element analityczny: regresja

In [7]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data["emission_CO2"]

0      2017
1      2018
2      2019
3      2020
4      2021
       ...
143    2017
144    2018
145    2019
146    2020
147    2021
Name: year, Length: 148, dtype: int64

In [14]:
model = sm.OLS(data["emission_CO2"], 
               sm.add_constant(data["year","construction_year","capital_renovation_year",
                                    "power_thermal","power_electrical","no_boilers_fluidized",
                                    "no_boilers_water","no_boilers_steam","fuel_coal_mio_t",
                                    "fuel_gas_mio_m3","fuel_oil_mio_l","filter_coverage"]))
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           emission_CO2   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.007
Method:                 Least Squares   F-statistic:                   0.02160
Date:                Wed, 18 May 2022   Prob (F-statistic):              0.883
Time:                        12:16:10   Log-Likelihood:                -823.62
No. Observations:                 148   AIC:                             1651.
Df Residuals:                     146   BIC:                             1657.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       -937.5233   7517.881     -0.125      0.901   -1.58e+04    1.39e+04
year           0.5472      3.724      0.147      0.883      -6.812       7.906
==============================================================================
Omnibus:                       23.289   Durbin-Watson:                   0.322
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               29.048
Skew:                           0.968   Prob(JB):                     4.92e-07
Kurtosis:                       3.982   Cond. No.                     2.90e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.9e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)